@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  padding: 1em 0;
  position: relative;
}
.container {
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
} 
img {
  max-width: 100%;
}

/* NavComponent */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2em;
}
.desktop-nav {
  display: none;
}
.inner-menu {
  background-color: #fff;
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100vh;
  width: 70%;
}
.inner-menu div {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.inner-menu .close {
  position: relative;
  top: 17px;
  right: -85px;
}

.inner-menu div ul li {
  font-weight: 700;
  font-size: 1.1rem;
  margin: 1.8em 0;
  text-align: left;
}

/* HeroComponent */ 
.hero {
  text-align: left;
}
.hero-title {
  color: rgb(1, 0, 31);
  font-size: 2.5rem;
  font-weight: 800;
  padding: .5em 0;
}
.hero-text {
  color: hsl(236, 13%, 42%);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6em;
  padding-bottom: 1.2em;
}
.hero-btn {
  background-color: hsl(5, 85%, 63%);
  border: none;
  color: #fff;
  font-weight: 700;
  padding: 1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 50%;
}
.dark {
  background-color: hsl(240, 100%, 5%);
  margin-top: 4em;
  padding: 1em 0;
  color: #fff;
}
.dark-inner {
  width: 90%;
  margin: auto;
}
.dark-inner h1 {
  color: rgb(221, 178, 110);
  font-size: 2.1rem;
}
.dark-inner-div {
  padding: 1.8em 0;
}
.dark-inner-div h2 {
  font-size: 1.3rem;
  padding-bottom: .5em;
}
.dark-inner-div:nth-child(3) {
  border: none;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}