@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  padding: 1em 0;
  position: relative;
}
.container {
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
} 

/* NavComponent */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2em;
}
.desktop-nav {
  display: none;
}
.inner-menu {
  background-color: #fff;
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100vh;
  width: 70%;
}
.inner-menu div {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.inner-menu .close {
  position: relative;
  top: 17px;
  right: -85px;
}

.inner-menu div ul li {
  font-weight: 700;
  font-size: 1.1rem;
  margin: 1.8em 0;
  text-align: left;
}